@media (min-width: 979px) {
    body
    {
        padding-top: 48px;
}
}

:focus {
    outline: none !important;
}

.center {
    text-align: center;
}

.navbar menu.nav {
    padding-left: 0;
}

h1 {
    text-align: center;
}

/* problem list */
#problem_list td {
    line-height: 20px;
}

#problem_list tr .status {
    background-image: url(../img/problem-status.png);
	height: 20px;
    width: 20px;
    display: none;
}

#problem_list tr.solved .status {
    background-position: 0 -20px;
	display: block;
}

#problem_list tr.wrong .status {
    background-position: -20px -20px;
	display: block;
}

#problem_list tr .fav {
	float: right;
	height: 20px;
    width: 20px;
	cursor: pointer;
    background-image: url(../img/problem-status.png);
    display: none;
}

#problem_list tr:hover .fav {
    background-position: -20px 0;
	display: block;
}

#problem_list tr.collect .fav {
    background-position: 0 0;
	display: block;
}

#problem_list tr.collect-pending .fav {
    background-position: 0 0;
    opacity: .6;
	display: block;
}

.AC {
    color: #090;
    font-weight: bold;
}

.WA, .TLE, .MLE, .PE, .RE, .OLE, .SE, .VE {
    color: #F00;
}

.CE {
    color: #600;
}

.WT, .RN {
    color: #00F;
}

.carousel .item img {
    max-width: 100%;
}

.mailview {
    font-weight: bold;
}
