{% extends "base.html" %}

{% block title %}Welcome to {{ JUDGE_NAME }}{% endblock %}
{% block metadata %}<meta property="wb:webmaster" content="b3d81a309c072a81" />{% endblock %}
{% block content %}
<h1>Welcome to {{ JUDGE_NAME }}</h1>

<div class="row">
	<div class="span8">
	</div>
	<div class="span4">
		<div class="span4">
			<h4>Problem Set</h4>
			<p>Problem Set is the place where you can find large amount of problems from different programming contests. Online Judge System allows you to test your solution for every problem.</p>
		</div>
		<div class="span4">
			<h4>Online Contest</h4>
		</div>
	</div>
</div>
{% endblock %}